h1 {
    font-family: palatino;
    color: #ca68d8;
}

p {
    font-family: palatino;
    font-size: large;
}

h5,
ul {
    font-size: medium;
}

figcaption {
    text-align: center;
}

.main {
    background-image: url('Images/purple-background.jpg');
    background-size: cover;
}

section .thumbnail {
   background-image: url('Images/magenta-background.png');
   background-size: cover;
    color: white;
    font-family: palatino;
    font-size: 1.4em;
    text-align: center;
}


.jumbotron {
    background-image: url('Images/cherry-blossom-background.jpg');
    background-size: cover;
    color: black;
    font-family: palatino;
}

.container {
    padding: 20px;
}

.thumbnail {
    padding: 20px;
    align: center;
}

.container-fluid .thumbnail {
    border-radius: 50%;
}

.container-fluid img{
    border-radius: 50%;
}


.btn {
    color: pink;
    background-color: black;
    font-family: cursive;
}

.container-fluid {
    background-image: url('Images/purple-background.jpg');
    background-size: cover;
    color: black;
    font-family: palatino;
}


.centered {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: black;
  text-shadow:
  -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
  font-family: palatino;
  font-size: 3.5em;
}


.figcaption {
    font-size: medium;
}

.main .thumbnail {
    position: relative;
    top: 20px;
}


.table-style {
  border: 2px solid;
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: white;
  font-size: 1.25em;
  }
  .table-style td {
  border: 1px solid;
  }
  .table-style td h2 {
  margin-bottom: 0;
  }
  .colcenter {
  text-align: center;
  }

